// $col1: #31c3b9;
$col2: white;
$col3: rgb(220, 92, 33);
h1{
    font-family:inherit;
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family:fantasy;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    max-width:1400px;
    margin: auto;
    padding: 0 32px;
}
@import "header";
@import "section";
@import "footer";

